<!-- ========== Disclaimers ========== -->
<section class="disclaimer">
	<p id="_disclaimer">
		<strong>Aviso:(Disclaimer)</strong>
			Los servicios Davis<sup>&reg;</sup>, Davis Dyslexia  Correction<sup>&reg;</sup>, Davis Symbol Mastery<sup>&reg;</sup>, Davis Orientation Counseling<sup>&reg;</sup>, y Davis Learning Strategies<sup>&trade;</sup>  s&oacute;lo los podr&aacute;n proveer aquellas personas entrenadas y que tengan la licencia otorgada por <a href="http://www.dyslexia.com/ddai.htm" target="_blank">Davis Dyslexia Association International. </a>
     </p>
     <p>
     	<strong>Derechos de autor:</strong>
        	Texto traducido y usado con permiso de <a href="http://www.dyslexia.com/ddai.htm" target="_blank">Davis Dyslexia Association International</a>&copy;2000 <a href="http://www.dyslexia.com" target="_blank">www.dyslexia.com</a>
      </p>
      <p>&#169;&nbsp;Derecho Reservados <br>M.Sc. Marcela Rodriguez Ocampo</p>
</section>