	<!-- ========== FIXEDHEADER SECTION ========== -->
	<section id="fixedheader" name="fixedheader"></section>
	<div id="fixedheaderwrap">
		<div id="logo"><img src="/img/logo.png" alt="Logo Centro Desarrollo Habilidades"><span>Centro para el Desarrollo<br/>de las<br/>Habilidades</span></div>
		<div id="davislogo"><img src="/img/ddailogo.gif" alt="Logo Instituto Davis"></div>
		<ul id="pages">
			<li><a href="caracteristicas.html">Caracteristicas</a></li>
			<li><a href="davis.html">Davis</a></li>
			<li><a href="famosos.html">Dislexicos Famosos</a></li>
			<li><a href="testimonios.html">Testimonios</a></li>
			<li><a href="contacto.html">Contacto</a></li>
		</ul>

	</div><!-- /fixedheader -->