	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>Para Contactarnos</b></h3>
					<br>
					<div class="col-lg-4">
						<h4><b>Correo Electr&oacute;nico <br />(Email):</b></h4>
						<h5>marcela@dislexiacostarica.com</h5>
						<br>
					</div>
					
					<div class="col-lg-4">	
						<h4><b>Tel&eacute;fonos:</b></h4>
						<h5>(506) 2442 8090</h5>
						<br>
					</div>
					
					<div class="col-lg-4">
						<h4><b>Redes Sociales</b></h4>
						<p>
							<a href="index.html#"><i class="icon-facebook"></i></a>
							<a href="index.html#"><i class="icon-envelope"></i></a>
						</p>
						<br>
					</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
			<!--<p>Sitio por <a href="http://www.dinafactor.com">DinaFactor</a></p>-->		
		</div>
	</div>