	<!-- ========== FOOTER SECTION ========== -->
	<section id="contact" name="contact"></section>
	<div id="f">
		<div class="container">
			<div class="row">
					<h3><b>Para Contactarnos</b></h3>
					<br>
					<div class="col-lg-4">
						<p><b>Correo (Email):</b></p>
						<p><a href="index.html#"><i class="fa fa-envelope"></i></a>marcela@dislexiacostarica.com</p>
						<br>
					</div>
					
					<div class="col-lg-4">	
						<p><b>Tel&eacute;fonos:</b></p>
						<p>(506) 2442 8090</p>
						<br>
					</div>
					
					<div class="col-lg-4">
						<p><b>Redes Sociales</b></p>
						<p>
							<a href="index.html#"><i class="fa fa-facebook">&nbsp;Facebook</i></a>
							<a href="index.html#"><i class="fa fa-twitter">&nbsp;Twitter</i></a>
						</p>
						<br>
					</div>
			</div>
		</div><!-- /container -->
	</div><!-- /f -->
	
	<div id="c">
		<div class="container">
			<!--<p>Sitio por <a href="http://www.dinafactor.com">DinaFactor</a></p>-->		
		</div>
	</div>