	<!-- ========== HEADER SECTION ========== -->
<style type="text/css">
	h2{
	    padding-top: 90px;
	    font-size: 52px;
	}
	.item{ 
	    text-align: center;
	    height: 700px !important;
	}
</style>
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner">
	        <div class="item active">
	          <!-- <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">-->
	          <div class="container">
	            <div class="carousel-caption">
	              <h1><span>Terapia de la</span><br /> Dislexia <br /><span>Costa Rica</span></h1>
	              <h2>Centro para el Desarrollo de Habilidades</h2>
	           </div>
	          </div>
	        </div>
	        <div class="item">
	          <!-- <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">-->
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Informaci&oacute;n Adicional</h1>
	              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <p><a class="btn btn-lg btn-primary" href="#" role="button">Leer</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <!-- <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">-->
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Más texto</h1>
	              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	              <p><a class="btn btn-lg btn-primary" href="#" role="button">Otro botón</a></p>
	            </div>
	          </div>
	        </div>
	      </div>
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->
	</div><!-- /headerwrap -->