	<!-- ========== SERVICES - GREY SECTION ========== -->
	<section id="services" name="services"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>Nuestros Servicios</h3>
				<br>
				<br>
				<div class="col-lg-3">
					<img src="/img/s1.png">
					<h4>Terapia</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="/img/s2.png">
					<h4>Consultor&iacute;a</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="/img/s3.png">
					<h4>Atenci&oacute;n Personal</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
				<div class="col-lg-3">
					<img src="/img/s4.png">
					<h4>Profesionalismo</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->
	