	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<i class="fa fa-times menu-close"></i>
			<a href="index.html" class="smoothScroll">Inicio</a>
			<a href="caracteristicas.html" class="smoothScroll">Caracteristicas</a>
			<a href="testimonios.html" class="smoothScroll">Testimonios</a>			
			<a href="marcela.html" class="smoothScroll">Marcela</a>
			<a href="index.html#contact" class="smoothScroll">Contacto</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>