	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<i class="fa fa-times menu-close"></i>
			<a href="#home" class="smoothScroll">Inicio</a>
			<a href="#portfolio" class="smoothScroll">Portfolio</a>
			<a href="#testimonies" class="smoothScroll">Testimonios</a>			
			<a href="#services" class="smoothScroll">Servicios</a>
			<a href="#contact" class="smoothScroll">Contacto</a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>