	<!-- ========== ABOUT - GREY SECTION ========== -->
	<section id="about" name="about"></section>
	<div id="g">
		<div class="container">
			<div class="row">
				<h3>Disl&eacute;xicos famosos</h3>
				<br>
				<br>
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
				<p>&ldquo;Tener dislexia no convierte a alguien en un genio, pero es bueno para la autoestima saber que su mente funciona de la misma  manera que la de ciertos genios.&rdquo; (Ron Davis, &ldquo;El Don de la Dislexia&rdquo;)</p>
				<br>
				<br>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-3 team">
					<img class="img-circle" src="/img/team01.jpg" height="90" width="90">
					<h4>Alberto Einstein</h4>
					<h5><i>Cient&iacute;fico</i></h5>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="/img/team02.jpg" height="90" width="90">
					<h4>Leonardo Da Vinci</h4>
					<h5><i>Artista</i></h5>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="/img/team03.jpg" height="90" width="90">
					<h4>Winston Churchill</h4>
					<h5><i>Pol&iacute;tico y Militar</i></h5>
				</div>

				<div class="col-lg-3 team">
					<img class="img-circle" src="/img/team04.jpg" height="90" width="90">
					<h4>Thomas A. Edison</h4>
					<h5><i>Inventor</i></h5>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /g -->