	<!-- ========== Portafolio ========== -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row">
				<h3>Caracter&iacute;sticas de una Persona con Dislexia</h3>
				<br>
				<br>
				<div class="col-lg-4 port-space">
					<p class="">Existen  miles de s&iacute;ntomas que son resultado de la desorientaci&oacute;n. La gravedad y el  grado en el cual se afectan los sentidos var&iacute;a en cada persona y de un momento a  otro. La mayor&iacute;a de las personas con el estilo disl&eacute;xico de aprender exhibir&aacute;n  por lo menos 10 de los comportamientos de la siguiente lista.</p>
					<a href="item.html">M&aacute;s informaci&oacute;n...</a>
				</div>
				<div class="col-lg-4 port-space">
					<p class="">Estas caracter&iacute;sticas  pueden variar de d&iacute;a a d&iacute;a o minuto a minuto, lo m&aacute;s consistente sobre la dislexia es su inconsistencia.</p>
					<a href="item.html">M&aacute;s informaci&oacute;n...</a>
				</div>
				<div class="col-lg-4 port-space">
					<p class="">Tiene problemas con la escritura y el copiado; la manera de tomar el l&aacute;piz es  diferente; su escritura var&iacute;a o es ilegible</p>
					<a href="item.html">M&aacute;s informaci&oacute;n...</a>
				</div>				
			</div>	
		</div><!-- /container -->
	</div><!-- /portfoliowrap -->
	